<!DOCTYPE html>
<html lang="it">
  <%- include("./partials/header"); %>
  <body>
    <%- include("./partials/navbar"); %>
    <main class="container-md mt-5 mb-3">
      <div class="container-md w-50 mx-auto mt-5 pt-5" id="alert"></div>
      <div class="row mb-md-4 mx-auto">
        <div class="col-lg-4 text-center my-md-auto my-3">
          <div class="d-flex justify-content-center flex-column">
            <img
              src="<%- user.picture %>"
              class="img-thumbnails rounded-circle mx-auto mt-md-5 mt-3"
            />
            <span class="fw-bolder fst-italic mt-2" id="user">
              <%- user.givenName %> <%- user.familyName%>
            </span>
            <a
              href="/oauth/google/logout"
              class="btn btn-outline-danger w-25 mx-auto mt-2"
            >
              Esci
            </a>
          </div>
        </div>
        <div class="col-lg-8 m-md-0 mt-3">
          <div class="container-md mt-md-5">
            <form id="post" enctype="multipart/form-data">
              <input
                type="hidden"
                name="author"
                id="author"
                value="<%- user._id %>"
              />
              <div class="d-flex flex-column mb-3">
                <label for="description">Descrizione</label>
                <textarea
                  name="description"
                  id="description"
                  cols="30"
                  rows="10"
                  class="rounded"
                ></textarea>
              </div>
              <div class="d-flex flex-column mb-3">
                <label for="description">Foto</label>
                <input type="file" name="photo" id="photo" />
              </div>
              <div class="container-md text-center">
                <button type="submit" class="btn btn-outline-success">
                  Pubblica
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container-md mt-2">
        <h3 class="fst-italic mb-2">Bacheca</h3>
        <% if (post.length === 0) {%>
        <span class="fst-italic">Non sono stati pubblicati post</span>
        <% } else { %>
        <div class="container-md">
          <div class="row mx-auto">
            <% post.forEach((p) => { %>
            <div class="col-lg-3 m-auto p-2">
              <div class="container-md shadow p-3 mb-2">
                <div class="d-flex flex-column text-start">
                  <h5 class="fw-bolder m-0"><%- p.displayName %></h5>
                  <span class="text-break"><%- p.description %></span>
                  <% if (p.photo) {%>
                  <img src="uploads/<%- p.photo %>" class="img-fluid mt-2" />
                  <% } %>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>
